.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: transparent;
}

.nav-link,
.btn {
	color: rgb(201, 200, 200);
	cursor: pointer;
}

.nav-link:hover,
.btn:hover {
	transition: 0.4s;
	color: #40759e;
}

.nav-link:active,
.btn:active {
	color: #285f88;
	transition: 0.1s;
}

.btn {
	border: none;
}
