<nav class="navbar">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 text-light text-center d-flex justify-content-center align-items-center">M<span style="color: #40759e; margin-left: 1px;">.</span></span>

    <ul class="nav position-absolute top-50 start-50 translate-middle d-none d-lg-flex">
      <li class="nav-item">
        <a class="nav-link" (click)="toHome()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toSkills()">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toProjects()">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toContacts()">Contact</a>
      </li>
    </ul>

    <div class="dropdown d-block d-lg-none">
      <button class="btn" id="menu" data-bs-toggle="dropdown" aria-expanded="false"><i class="fs-3 bi bi-list"></i></button>
      <ul class="dropdown-menu">
        <li class="dropdown-item bg-transparent">
          <a class="nav-link text-center" (click)="toHome()" routerLink="/">Home</a>
        </li>
        <li class="dropdown-item bg-transparent">
          <a class="nav-link text-center" (click)="toSkills()">Skills</a>
        </li>
        <li class="dropdown-item bg-transparent">
          <a class="nav-link text-center" (click)="toProjects()">Projects</a>
        </li>
        <li class="dropdown-item bg-transparent">
          <a class="nav-link text-center" (click)="toContacts()">Contact</a>
        </li>
      </ul>
    </div>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/mariodimodica/"><i class="bi bi-linkedin"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://github.com/Mxo01"><i class="bi bi-github"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://instagram.com/not_mxo?igshid=MzNlNGNkZWQ4Mg=="><i class="bi bi-instagram"></i></a>
      </li>
    </ul>
  </div>
</nav>
