<div id="contacts">
	<div class="landing d-flex flex-column justify-content-center">
		<p class="contacts-background text-center">CONTACTS</p>
		<div
			class="d-flex flex-column justify-content-center align-items-center position-absolute start-50 top-50 translate-middle w-100"
		>
			<a
				href="https://calendly.com/mxo01/hiring-call"
				target="_blank"
				class="btn btn-lg d-none d-lg-block free-dc"
			>
				Book free discovery call
				<i class="ms-1 bi bi-camera-video"></i>
			</a>
			<a
				href="https://calendly.com/mxo01/hiring-call"
				target="_blank"
				class="btn d-none d-sm-block d-lg-none free-dc"
			>
				Book free discovery call
				<i class="ms-1 bi bi-camera-video"></i>
			</a>
			<a
				href="https://calendly.com/mxo01/hiring-call"
				target="_blank"
				class="btn d-block d-sm-none free-dc"
			>
				Book free discovery call
				<i class="ms-1 bi bi-camera-video"></i>
			</a>
			<p class="text-center w-50 d-none d-sm-block">
				For more information (like my number) you can download my
				Curriculum Vitae from the home page and also get more details of
				my experience and education's course.
			</p>
			<p class="text-center w-75 d-block d-sm-none">
				For more information (like my number) you can download my
				Curriculum Vitae from the home page and also get more details of
				my experience and education's course.
			</p>
			<p class="phone d-none d-sm-block">
				<i class="bi bi-telephone"></i>
				+39 331 *** ****
			</p>
			<p class="phone-sm d-flex d-sm-none">
				<i class="bi bi-telephone"></i>
				+39 331 *** ****
			</p>
			<a
				href="mailto:mariodimodica.01@gmail.com"
				class="email d-none d-sm-flex"
			>
				<i class="bi bi-envelope me-3"></i>
				{{ "mariodimodica.01@gmail.com" }}
			</a>
			<a
				href="mailto:mariodimodica.01@gmail.com"
				class="email-sm d-flex d-sm-none"
			>
				<i class="bi bi-envelope me-3"></i>
				{{ "mariodimodica.01@gmail.com" }}
			</a>
		</div>
	</div>
</div>
