#contacts {
  height: 100vh;
  background-color: #101518;
}

.landing {
  height: 100vh;
  transform: translateY(56px);
  width: 100%;
}

.contacts-background {
  color: #1f262a;
  font-size: 18vw;
  z-index: -1;
}

.phone, .email {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.phone-sm, .email-sm {
  font-size: .8rem;
  font-weight: 600;
  margin: 0;
}

.email, .email-sm {
  text-decoration: none;
  color: #adb5bd;
}

.email:hover, .email-sm:hover {
  transition: scale(1.1);
  transition: 0.4s;
  color: #40759e
}

.btn {
  border: none;
  background-color: #40759e;
  color: white;
}

.btn:hover {
  background-color: #1e5c8b;
}

.btn:active {
  background-color: #40759e;
  color: white;
}
