<div id="projects">
	<div class="landing d-flex flex-column justify-content-center">
		<p class="projects-background text-center">PROJECTS</p>
		<div class="horizontal snaps-inline">
			<div class="d-flex align-items-start mb-5 mx-5">
				<div class="flex-column w-100 d-none d-lg-flex">
					<div class="d-flex">
						<img
							src="assets/lovejob1.png"
							width="200"
							height="200"
							class="m-3 rounded-5"
							alt=""
						/>
						<img
							src="assets/lovejob2.png"
							width="200"
							height="200"
							class="m-3 rounded-5"
							alt=""
						/>
					</div>
					<div class="d-flex">
						<img
							src="assets/lovejob3.png"
							width="200"
							height="200"
							class="m-3 rounded-5"
							alt=""
						/>
						<img
							src="assets/lovejob4.png"
							width="200"
							height="200"
							class="m-3 rounded-5"
							alt=""
						/>
					</div>
				</div>
				<img
					src="assets/lovejob4.png"
					width="200"
					height="200"
					class="m-3 rounded-5 d-none d-md-flex d-lg-none"
					alt=""
				/>
				<div
					class="ms-5 w-100 d-flex flex-column align-items-center justify-content-center"
				>
					<h1>
						LoveJob
						<i class="bi bi-search-heart"></i>
					</h1>
					<p
						style="font-size: 1.5vw"
						class="text-center d-none d-md-block"
					>
						LoveJob is a Web App written in
						<b>Angular</b>
						and
						<b>ASP.NET Core</b>
						with
						<b>C#</b>
						. It's main goal is to simplify job seeking for people
						who's searching for a job. The application is designed
						for two types of users, job seekers and those who work
						for a company (and thus upload open or available job
						positions). The Front-End part is completly written in
						<b>Angular</b>
						with
						<b>TypeScript</b>
						(with
						<b>Bootstrap</b>
						and
						<b>CSS</b>
						for the styles) and the Back-End part is written in
						<b>C#</b>
						usign
						<b>ASP.NET Core</b>
						as a framework to use Models & Controllers and it's
						connected with
						<b>Microsoft SQL Server</b>
						to query the data from Database.
					</p>
					<p class="d-md-none" id="h-txt">
						LoveJob is a Web App written in
						<b>Angular</b>
						and
						<b>ASP.NET Core</b>
						with
						<b>C#</b>
						. It's main goal is to simplify job seeking for people
						who's searching for a job. The application is designed
						for two types of users, job seekers and those who work
						for a company (and thus upload open or available job
						positions). The Front-End part is completly written in
						<b>Angular</b>
						with
						<b>TypeScript</b>
						(with
						<b>Bootstrap</b>
						and
						<b>CSS</b>
						for the styles) and the Back-End part is written in
						<b>C#</b>
						usign
						<b>ASP.NET Core</b>
						as a framework to use Models & Controllers and it's
						connected with
						<b>Microsoft SQL Server</b>
						to query the data from Database.
					</p>
					<p
						style="font-size: 2.8vw"
						class="text-center d-md-none"
						id="sm-txt"
					>
						LoveJob is a Web App written in
						<b>Angular</b>
						and
						<b>ASP.NET Core</b>
						with
						<b>C#</b>
						. It's main goal is to simplify job seeking for people
						who's searching for a job. The application is designed
						for two types of users, job seekers and those who work
						for a company (and thus upload open or available job
						positions). The Front-End part is completly written in
						<b>Angular</b>
						with
						<b>TypeScript</b>
						(with
						<b>Bootstrap</b>
						and
						<b>CSS</b>
						for the styles) and the Back-End part is written in
						<b>C#</b>
						usign
						<b>ASP.NET Core</b>
						as a framework to use Models & Controllers and it's
						connected with
						<b>Microsoft SQL Server</b>
						to query the data from Database.
					</p>
					<a
						target="_blank"
						href="https://github.com/Mxo01/LoveJob"
						class="btn btn-sc d-none d-sm-flex"
					>
						Source Code
					</a>
					<a
						target="_blank"
						href="https://github.com/Mxo01/LoveJob"
						class="btn btn-sc d-flex d-sm-none"
					>
						Source Code
					</a>
				</div>
			</div>
			<div class="d-flex align-items-start mb-5 mx-5">
				<div class="d-none d-lg-flex flex-column w-100">
					<div class="d-flex">
						<img
							src="assets/mylibretto1.png"
							width="200"
							height="200"
							class="m-3 rounded-5"
							alt=""
						/>
						<img
							src="assets/mylibretto2.png"
							width="200"
							height="200"
							class="m-3 rounded-5"
							alt=""
						/>
					</div>
					<div class="d-flex">
						<img
							src="assets/mylibretto3.png"
							width="200"
							height="200"
							class="m-3 rounded-5"
							alt=""
						/>
						<img
							src="assets/mylibretto4.png"
							width="200"
							height="200"
							class="m-3 rounded-5"
							alt=""
						/>
					</div>
				</div>
				<img
					src="assets/mylibretto2.png"
					width="200"
					height="200"
					class="m-3 rounded-5 d-none d-md-flex d-lg-none"
					alt=""
				/>
				<div
					class="w-100 ms-5 d-flex flex-column align-items-center justify-content-center"
				>
					<h1>
						MyLibretto
						<i class="bi bi-mortarboard"></i>
					</h1>
					<p
						style="font-size: 1.5vw"
						class="d-none d-md-block text-center"
					>
						MyLibretto is a Progressive Web App written in
						<b>React</b>
						. It's a University project that allows users to keep
						track of their career progress. They can then upload
						grades, fees, share notes (photos, files, videos), and
						look at their achievements through easy-to-understand
						statistics and graphs. The Front-End is written in
						<b>React</b>
						with
						<b>JavaScript</b>
						(using only
						<b>CSS</b>
						for the styles) and the Back-End is written using
						<b>Firebase</b>
						(BaaS).
					</p>
					<p class="d-md-none" id="h-txt">
						MyLibretto is a Progressive Web App written in
						<b>React</b>
						. It's a University project that allows users to keep
						track of their career progress. They can then upload
						grades, fees, share notes (photos, files, videos), and
						look at their achievements through easy-to-understand
						statistics and graphs. The Front-End is written in
						<b>React</b>
						with
						<b>JavaScript</b>
						(using only
						<b>CSS</b>
						for the styles) and the Back-End is written using
						<b>Firebase</b>
						(BaaS).
					</p>
					<p
						style="font-size: 2.8vw"
						class="d-md-none text-center"
						id="sm-txt"
					>
						MyLibretto is a Progressive Web App written in
						<b>React</b>
						. It's a University project that allows users to keep
						track of their career progress. They can then upload
						grades, fees, share notes (photos, files, videos), and
						look at their achievements through easy-to-understand
						statistics and graphs. The Front-End is written in
						<b>React</b>
						with
						<b>JavaScript</b>
						(using only
						<b>CSS</b>
						for the styles) and the Back-End is written using
						<b>Firebase</b>
						(BaaS).
					</p>
					<div class="d-none d-sm-flex">
						<a
							target="_blank"
							href="https://github.com/Mxo01/MyLibrettoPWA"
							class="btn me-3 btn-sc"
						>
							Source Code
						</a>
						<a
							target="_blank"
							href="https://mylibretto.web.app"
							class="btn btn-dark"
						>
							Demo
							<i class="bi bi-box-arrow-up-right"></i>
						</a>
					</div>
					<div class="d-flex d-sm-none flex-column">
						<a
							target="_blank"
							href="https://github.com/Mxo01/MyLibrettoPWA"
							class="btn mb-3 btn-sc"
						>
							Source Code
						</a>
						<a
							target="_blank"
							href="https://mylibretto.web.app"
							class="btn btn-dark"
						>
							Demo
							<i class="ms-1 bi bi-box-arrow-up-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="d-flex align-items-start mx-5">
				<div class="d-none d-lg-flex flex-column w-100">
					<div class="d-flex">
						<img
							src="assets/crafty1.png"
							width="200"
							height="200"
							class="m-3 rounded-5"
							alt=""
						/>
						<img
							src="assets/crafty2.png"
							width="200"
							height="200"
							class="m-3 rounded-5"
							alt=""
						/>
					</div>
					<div class="d-flex">
						<img
							src="assets/crafty3.png"
							width="200"
							height="200"
							class="m-3 rounded-5"
							alt=""
						/>
						<img
							src="assets/crafty4.png"
							width="200"
							height="200"
							class="m-3 rounded-5"
							alt=""
						/>
					</div>
				</div>
				<img
					src="assets/crafty4.png"
					width="200"
					height="200"
					class="m-3 rounded-5 d-none d-md-flex d-lg-none"
					alt=""
				/>
				<div
					class="w-100 mx-3 d-flex flex-column align-items-center justify-content-center"
				>
					<h1>
						Crafty
						<i class="bi bi-currency-bitcoin"></i>
					</h1>
					<p
						style="font-size: 1.5vw"
						class="d-none d-md-block text-center"
					>
						CRAFTY is a University project totally written in
						<b>Python</b>
						. The project works with a Dataset comprising Bitcoin
						transactions, specifically those included in blocks
						between 2009 and 2012. Data Analysis/Mining is the part
						where I perform statistical analysis on the data and
						generating graphical visualizations and then I implement
						a clustering algorithm. Finally I use Web Scraping to
						de-anonymize as many clusters as possible utilizing
						libraries such as
						<b>Beautiful Soup</b>
						and
						<b>Selenium</b>
						to create bots that automate the search process.
					</p>
					<p class="d-md-none" id="h-txt">
						CRAFTY is a University project totally written in
						<b>Python</b>
						. The project works with a Dataset comprising Bitcoin
						transactions, specifically those included in blocks
						between 2009 and 2012. Data Analysis/Mining is the part
						where I perform statistical analysis on the data and
						generating graphical visualizations and then I implement
						a clustering algorithm. Finally I use Web Scraping to
						de-anonymize as many clusters as possible utilizing
						libraries such as
						<b>Beautiful Soup</b>
						and
						<b>Selenium</b>
						to create bots that automate the search process.
					</p>
					<p
						style="font-size: 2.8vw"
						class="d-md-none text-center"
						id="sm-txt"
					>
						CRAFTY is a University project totally written in
						<b>Python</b>
						. The project works with a Dataset comprising Bitcoin
						transactions, specifically those included in blocks
						between 2009 and 2012. Data Analysis/Mining is the part
						where I perform statistical analysis on the data and
						generating graphical visualizations and then I implement
						a clustering algorithm. Finally I use Web Scraping to
						de-anonymize as many clusters as possible utilizing
						libraries such as
						<b>Beautiful Soup</b>
						and
						<b>Selenium</b>
						to create bots that automate the search process.
					</p>
					<a
						target="_blank"
						href="https://github.com/Mxo01/CRAFTY"
						class="btn btn-sc d-none d-sm-block"
					>
						Source Code
					</a>
					<a
						target="_blank"
						href="https://github.com/Mxo01/CRAFTY"
						class="btn btn-sc d-block d-sm-none"
					>
						Source Code
					</a>
				</div>
			</div>
		</div>
		<a class="arrow" (click)="toContacts()">
			<i class="bi bi-arrow-down-short"></i>
		</a>
	</div>
</div>
