<app-navbar></app-navbar>
<div>
  <section style="height: 100svh; scroll-snap-align: start;">
    <app-home-page></app-home-page>
  </section>
  <section style="height: 100svh; scroll-snap-align: start;">
    <app-skills></app-skills>
  </section>
  <section style="height: 100svh; scroll-snap-align: start;">
    <app-projects></app-projects>
  </section>
  <section style="height: 100svh; scroll-snap-align: start;">
    <app-contact-page></app-contact-page>
  </section>
</div>

<a class="btn to-top" (click)="backToTop()"><i class="bi bi-chevron-up"></i></a>
