#skills {
  height: 100svh;
  background-color: #101518;
}

.landing {
  height: calc(100svh - 56px);
  width: 100%;
  transform: translateY(56px);
}

.skills-background {
  color: #1f262a;
  font-size: 18vw;
  z-index: -1;
}

.arrow {
  position: absolute;
  bottom: 2%;
  left: 50%;
  font-size: 3rem;
  color: #40759e;
  cursor: pointer;
  animation: floating ease 3s infinite;
}

h1 {
  color: #40759e;
}

@keyframes floating {
  0% {
    transform: translate(0%, 0%)
  }

  50% {
    transform: translate(0%, 25%)
  }

  100% {
    transform: translate(0%, 0%)
  }
}

.horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 100vw;
}

.vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 100vw;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 60vh;
}


.vertical h1 {
  font-size: 10vw
}

.vertical p {
  font-size: 5vw;
  height: fit-content;
}

.snaps-y {
  scroll-snap-type: y mandatory;
}

.snaps-y > * {
  scroll-snap-align: start;
}

@media (max-width: 400px) {
  .arrow {
    position: absolute;
    left: 44%;
    bottom: 2%;
    font-size: 3rem;
    color: #40759e;
    cursor: pointer;
    animation: floating ease 3s infinite;
  }
}
