<div id="skills">
  <div class="landing d-flex flex-column justify-content-center">
    <p class="skills-background text-center">SKILLS</p>
    <div class="position-absolute top-50 start-50 translate-middle d-flex flex-column w-100 h-100">
      <div class="horizontal d-none d-lg-flex">
        <div class="text-center m-auto">
          <h1>Front-End <i class="bi bi-palette"></i></h1>
          <div>
            <p>Angular</p>
            <p>React</p>
            <p>Svelte</p>
            <p>JavaScript</p>
            <p>TypeScript</p>
            <p>Bootstrap</p>
            <p>HTML</p>
            <p>CSS</p>
          </div>
        </div>
        <div class="text-center m-auto">
          <h1>Back-End <i class="bi bi-database"></i></h1>
          <div>
            <p>C#</p>
            <p>C</p>
            <p>Java</p>
            <p>Python</p>
            <p>Microsoft SQL Server</p>
            <p>Asp.NET</p>
            <p>Node.js</p>
            <p>Firebase</p>
          </div>
        </div>
        <div class="text-center m-auto">
          <h1>General <i class="bi bi-tools"></i></h1>
          <div>
            <p>Docker</p>
            <p>AWS</p>
            <p>Visual Studio</p>
            <p>Visual Studio Code</p>
            <p>Web Scraping</p>
            <p>Data Analysis</p>
            <p>Data Mining</p>
            <p>Git</p>
          </div>
        </div>
      </div>

      <div class="vertical d-flex flex-column justify-content-between d-lg-none snaps-y">
        <div class="item text-center">
          <h1 class="mb-3">Front-End <i class="bi bi-palette"></i></h1>
          <div>
            <div class="d-flex justify-content-center">
              <p class="me-3">Angular</p>
              <p class="me-3">React</p>
              <p>Svelte</p>
            </div>
            <div class="d-flex justify-content-center">
              <p class="me-3">JavaScript</p>
              <p class="me-3">TypeScript</p>
              <p>Bootstrap</p>
            </div>
            <div class="d-flex justify-content-center">
              <p class="me-3">HTML</p>
              <p>CSS</p>
            </div>
          </div>
        </div>
        <div class="item text-center">
          <h1 class="mb-3">Back-End <i class="bi bi-database"></i></h1>
          <div>
            <div class="d-flex justify-content-center">
              <p class="me-3">Microsoft SQL Server</p>
              <p class="me-3">C#</p>
              <p>C</p>
            </div>
            <div class="d-flex justify-content-center">
              <p class="me-3">Java</p>
              <p class="me-3">Python</p>
              <p>ASP.NET Core</p>
            </div>
            <div class="d-flex justify-content-center">
              <p class="me-3">Node.js</p>
              <p>Firebase</p>
            </div>
          </div>
        </div>
        <div class="item text-center">
          <h1 class="mb-3">General <i class="bi bi-tools"></i></h1>
          <div>
            <div class="d-flex justify-content-center">
              <p class="me-3">Docker</p>
              <p class="me-3">AWS</p>
              <p>VS Code</p>
            </div>
            <div class="d-flex justify-content-center">
              <p class="me-3">Visual Studio</p>
              <p class="me-3">Git</p>
              <p>Data Analysis</p>
            </div>
            <div class="d-flex justify-content-center">
              <p class="me-3">Data Mining</p>
              <p>Web Scraping</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="arrow" (click)="toProjects()"><i class="bi bi-arrow-down-short"></i></a>
  </div>
</div>
