#skills {
  height: 100svh;
  background-color: #101518;
}

.landing {
  height: calc(100svh - 56px);
  width: 100%;
  transform: translateY(56px);
}

.skills-background {
  color: #1f262a;
  font-size: 18vw;
  z-index: -1;
}

.arrow {
  position: absolute;
  bottom: 2%;
  left: 50%;
  font-size: 3rem;
  color: #40759e;
  cursor: pointer;
  animation: floating ease 3s infinite;
}

h1 {
  color: #40759e;
}

@keyframes floating {
  0% {
    transform: translate(0%, 0%)
  }

  50% {
    transform: translate(0%, 25%)
  }

  100% {
    transform: translate(0%, 0%)
  }
}

.horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  width: 100vw;
  overflow-x: auto;
}

.vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.vertical, .item {
  height: 60vh;
}

.vertical h1 {
  font-size: 10vw
}

.vertical p {
  font-size: 5vw;
  height: fit-content;
}

.snaps-y {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 1rem;
}

.snaps-y > * {
  scroll-snap-align: start;
}
